#footer {
  background: #002D5C;
  mix-blend-mode: multiply;
  transform: translateY(-2px);
}

.footer .footer-middle {
  margin: 85px auto;
  .header-logo {
    text-align: center;
    img {
      height: auto;
      width: 200px;
    }
  }
  .footer-teaser {
    justify-content: center;
    display: flex;
    margin-top: 50px;
    p {
      font: normal normal normal 20px/24px Open Sans;
      color: white;
      text-transform: uppercase;
      span {
        font-weight: bold;
      }
    }
  }
}

.footer .footer-bottom {
  .footer-nav {
    border-bottom: 6px solid white;
    width: 80%;
    margin: 15px auto;
    padding-bottom: 40px;
    .invisible {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      font: normal normal bold 20px/24px Open Sans;
      color: #FFFFFF;
      text-transform: uppercase;
      width: 55%;
      margin: 0 auto;
      li {
        text-align: center;
        font: normal normal bold 20px/24px Open Sans;
        color: #FFFFFF;
        text-transform: uppercase;
        padding-right: 15px;
        border-right: 2px solid #fff;
        margin-right: 15px;
        a {
          text-decoration: none;
          color: #FFFFFF;
          transition: color 250ms;
          &:hover {
            color: #009EE3;
          }
        }
        &:last-child {
          border-right: 0 solid #fff;
        }
        strong {
          transition: opacity 250ms;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.footer .footer-social-icons {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  padding: 50px 0;
  .icon, .icon1 {
    width: 76px;
    text-align: center;
    a {
      transition: flter 250ms;
      &:hover {
        filter: brightness(0.6);
      }
    }
   img {
     width: 40px;
   }
  }
}

.footer .footer-social-icons .icon1 img {
  width: 30px;
}

@media screen and (max-width: 1025px) {
  .footer {
    padding: 25px 0;
    .footer-middle {
      margin: 40px auto;
      .header-logo img {
        width: 140px;
      }
      .footer-teaser {
        margin-top: 20px;
        text-align: center;
        p {
          font-size: 15px;
          margin-bottom: 0;
        }
      }
    }
    .footer-bottom .footer-nav {
      width: 100%;
      padding-bottom: 22px;
      ul {
        justify-content: space-between;
        width: 100%;
       li {
         font-size: 13px;
         padding-right: 2px;
         margin-right: 2px;
       }
      }
    }
    .footer-social-icons {
      padding: 30px 0;
    }
  }
}