
#header {
  position: absolute;
  width: 100%;
  z-index: 100;
  background: rgba(0, 45, 92, 0.7);
  /*.inside {
    background: rgba(0, 158, 227, 0.6);
  }*/
}

.header, .footer {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  .header-top, .footer-top {
    text-align: center;
    .header-teaser {
      transform: translateY(40px);
      width: 33%;
      margin: 0 auto;
      position: relative;
      &:before, &:after {
        content: "";
        top: 14px;
        width: 100%;
        position: absolute;
        border-bottom: 2px solid white;
      }
      &:before {
        margin-right: 15px;
        right: 100%;
      }
      &:after {
        margin-left: 15px;
        left: 100%;
      }
      img {
        width: 350px;
      }
    }
  }
}
.header .header-bottom {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
  transform: translateY(50%);
  align-items: center;
  .header-logo {
    width: 80%;
    text-align: center;
    img {
      height: auto;
      width: 200px;
    }
  }
}

.burger_menu, .menu-close {
  width: 80px;
  height: 80px;
  background-color: #002D5CB2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms;
  cursor: pointer;
  img {
    width: 60px;
  }
  &:hover {
    background-color: #009EE3;
  }
}

@media screen and (max-width: 1100px) {
  .header .header-top .header-teaser::after,
  .header .footer-top .header-teaser::after,
  .footer .header-top .header-teaser::after,
  .footer .footer-top .header-teaser::after {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1025px) {
  .header .header-top .header-teaser,
  .footer .footer-top .header-teaser {
    transform: translateY(11px);
    width: 55%;
    img {
      width: 170px;
    }
    &:before, &:after {
      width: 40%;
    }
  }
  .header .header-bottom {
    .header-logo {
      img {
        width: 140px;
      }
    }
    .burger_menu {
      width: 60px;
      height: 60px;
      img {
        width: 45px;
      }
    }
  }
}