#wrapper #container{
  max-width: 100%;
}

#main .banner-image {
  position: relative;
  z-index: 1;
  .header-image {
    width: 100%;
    max-width: initial;
    img {
      width: 100%;
      height: 75vh;
      object-fit: cover;
      object-position: top;
    }
  }
}

.sticky-box .ce_text {
  z-index: 100;
  position: absolute;
  right: -450px;
  top: 50%;
  transform: translateY(-50%);
  width: 491px;
  transition: right 250ms;
  /*&:hover {
    right: -140px;
  }*/
}

.sticky-box .ce_text {
   transition: margin-right 250ms;
   cursor: pointer;
  .sticky-icon, .sticky-icon1 {
    transition: .4s ease-in-out .2s;
    position: relative;
    left: 2px;
    top: 82px;
    float: left;
    background-color: #022F59;
    width: 50px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 3px 6px #00000029;
    img {
      width: 50%;
      margin-top: 1px;
      cursor: pointer;
      margin-left: -8px;
    }
  }
  &:hover {
    margin-right: 318px;
  }
}

.sticky-box .ce_text:hover .sticky-icon img,
.sticky-box .ce_text:hover .sticky-icon1 img{
  margin-left: 0;
}


.sticky-box .ce_text table {
  border: 30px solid #009EE3;
  transition: 0.4s ease-in-out 0.2s;
  color: #00781a;
  border-collapse: collapse;
  background-color: #009EE3;
  box-shadow: 0 3px 10px #00000029;
  tr {
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF80;
    td {
      vertical-align: middle;
      font: normal normal 600 18px/24px Open Sans;
      color: #D1F1FF;
      text-transform: uppercase;
      a {
        font: normal normal 600 18px/24px Open Sans;
        text-decoration: none;
        color: #D1F1FF;
        transition: filter 250ms;
        &:hover {
          filter: brightness(1.7);
        }
      }
    }
  }
}

.sticky-icon1 {
  display: none;
}

.sticky-box .ce_text:hover {
  .sticky-icon {
    display: none;
  }
  .sticky-icon1 {
    display: block;
  }
}

.teaser-text {
  text-align: center;
  position: relative;
  z-index: 3;
  transform: translateY(-50%);
  > div {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(141,198,63);
    padding: 42px 85px;
    /* display: inline-block; */
    border: 15px solid white;
    color: #FFFFFF;
    border-radius: 10px;
    h2 {
      text-transform: uppercase;
      font: normal normal normal 30px/27px Open Sans;
      margin-bottom: 0;
      margin-top: 0;
      a {
        text-decoration: none;
        color: white;
      }
    }
    p {
      font: normal normal normal 18px/27px Open Sans;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    .slider-control {
      display: none;
    }
  }
}

.teaser-text-new {
  text-align: center;
  position: relative;
  z-index: 3;
  transform: translateY(-50%);
  .contain-teaser-new {
    padding: 56px 3px;
    h2 {
      a {
        background-color: rgb(141,198,63);
        padding: 44px 83px;
        border: 15px solid white;
        color: #FFFFFF;
        border-radius: 10px;
        text-transform: uppercase;
        font: normal normal normal 30px/27px Open Sans;
        text-decoration: none;
        transition: color 250ms;
        &:hover {
          color: #002d5d;
        }
      }
    }
  }
}

.box-container {
  position: relative;
  z-index: 2;
  margin-top: -180px;
  border-top: 5px solid white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box.hell, .box.blue, .box.blue-dark {
  float: left;
  overflow: hidden;
  width: 50%;
  text-align: left;
  position: relative;
}

.box.blue {
  background: #009EE3;
}

.box.blue, .box.blue-dark {
  .ce_text {
    margin: 5% 8%;
    color: #FFFFFF;
    h2 {
      text-transform: uppercase;
      font: normal normal bold 30px/36px Open Sans;
    }
    p {
      font: normal normal normal 18px/28px Open Sans;
      a {
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        font: normal normal bold 40px/24px Open Sans;
        display: flex;
        align-items: center;
        margin: 70px auto;
        .arrow-right, .arrow-right-dark {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #009EE3;
          transition: box-shadow 250ms;
          img {
            width: 65px;
            transition: filter 250ms;
          }
        }

        .arrow-right {
          box-shadow: inset 0 0 0 #00c1ff, 7px 7px 14px #007bb1, -7px -7px 14px #00c1ff;
        }
        .arrow-right-dark {
          background: linear-gradient(45deg, #002953, #003062);
          box-shadow: inset 0 0 0 #003770, 7px -7px 14px #00264e, -7px 7px 14px #00346a;
        }
        .text {
          margin-left: 30px;
          transition: color 250ms ;
        }
      }
    }

  }
  h2 {
    font: normal normal bold 30px/36px Open Sans;
    text-transform: uppercase;
    color: white;
    margin: 35px 8%;
  }
}

.box.blue-dark {
  background: #002D5C;
}

.box.hell {
  margin-bottom: -2px;
   color: white;
  transition: color 250ms;
  img{
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  .caption {
    position: absolute;
    top: 30%;
    text-align: right;
    font: normal normal bold 40px/24px Open Sans;
    text-transform: uppercase;
    right: 38px;
    text-shadow: 2px 2px 11px rgba(0,45,92,0.71);
    line-height: 1.3em;
  }
  &:hover {
    color: #002D5C;
  }
}

.box.blue .border, .box.blue .border-bottom,
.box.blue-dark .border, .box.blue-dark .border-bottom {
  border-top: 6px solid white;
  margin: 20% 8% 0;
  width: 55%;
}

.box.blue .border-bottom, .box.blue-dark .border-bottom {
  margin: 2% 8% 0;
}

.box.blue .ce_text {
  a {
    &:hover {
     .arrow-right {
       box-shadow: inset -2px 3px 6px #0000004A;
     }
      img {
        filter: saturate(0) invert(1) brightness(125%);
      }
      .text {
        color: #022F59;
      }
    }
  }
}

.box.blue-dark .ce_text {
  a {
    &:hover {
      .arrow-right-dark {
        box-shadow: inset -2px 3px 6px #0000004A;
      }
      img {
        filter: invert(100%) saturate(0%) brightness(200%);
      }
      .text {
        color: #52D2F6;
      }
    }
  }
}

#progress {
  width: 70px;
  height: 70px;
  background-color: #002D5C;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 14px;
  align-content: center;
  z-index: 5;
}

.progressbar {
  bottom: 20px;
  right: 15px;
  height: 60px;
  width: 60px;
  display: flex;
  cursor: pointer;
  position: fixed;
  align-content: center;
  align-items: center;
  border-radius: 50%;
}
#progress-value {
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: white;
  font-weight: bold;
  background-color: #002d5c;
  right: -3px;
  position: relative;
}

.benefits {
  width: 90%;
  max-width: 1200px;
  margin: 66px auto;
  h2 {
    font: normal normal bold 40px/36px Open Sans;
    color: #002D5C;
    text-transform: uppercase;
    border-bottom: 3px solid #009EE3;
    padding-bottom: 30px;
    text-align: center;
  }
}

.benefits-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto;
  .benefits-box {
    width: 16%;
    background: #009EE3;
    margin: 5px 0;
    a {
      text-decoration: none;
      img {
        width: 50px;
        height: 100px;
        display: flex;
        margin: 0 auto;
      }
      .caption {
        height: 60px;
        display: flex;
        justify-content: space-around;
        /*align-items: center;*/
        text-transform: uppercase;
        color: white;
        text-align: center;
        font: normal normal normal 13px/14px Open Sans;
      }
    }
  }
}

.benefits-link {
  text-decoration: none;
  margin: 5px 0;
  cursor: pointer;
  img {
    width: 40px;
    height: 100px;
    display: flex;
    margin: 0 auto;
  }
  h3 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font: normal normal normal 13px/14px Open Sans;
  }
}

.benefits-link {
  perspective: 800px;
  .box {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    background: #009ee3;
    transition: transform 0.4s, background 0.4s;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -100px;
    width: 175px;
    height: 175px;
    color: white;
    text-align: center;
    font: normal normal normal 13px/14px Open Sans;
    .description {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      background: #002d5c;
      content: attr(data-hover);
      transition: background 0.4s;
      transform: rotateY(90deg);
      transform-origin: 0 50%;
      pointer-events: none;
      .teaser {
        padding: 20px 9px;
      }
    }
  }
}

.benefits-link:hover .box {
  transform: rotateY(-90deg);
}

.training-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transform: translateY(-2px);
  .teaser-blue {
    float: left;
    overflow: hidden;
    width: 50%;
    position: relative;
    &.dark {
      background-color: #00305dd6;;
    }
    &.hell {
      background-color: #009EE3;
    }
    p {
      text-align: center;
      font: normal normal bold 60px/28px Open Sans;
      margin-bottom: 0;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms, color 250ms ;
        &:hover {
         color: #001F3F;
          background-color: #ffffffd9;
        }
      }
    }
  }
}

.training {
  .fullscreen-image {
    img {
      height: 75vh;
      width: 100%;
      object-fit: cover;
    }
  }
}

.training-teaser {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  h2 {
    font: normal normal bold 40px/36px Open Sans;
    color: #002D5C;
    text-transform: uppercase;
    border-bottom: 3px solid #009EE3;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    font: normal normal lighter 18px/20px Open Sans;
    line-height: 1.6em;
    color: rgb(0,48,93);
  }
}

#main .ce_image.main.block {
  max-width: 100%;
  padding: 0;
  margin: 25px auto;
  img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    margin: 30px auto;
  }
}

.ce_text.main img {
  max-width: 100%;
  height: auto;
}

#main .ce_image#jobs.main img {
  max-width: 100%;
  height: auto;
}

.text-link-teaser-box {
  p {

  }
}

.box.blue #text-link-teaser-box p a {
  text-decoration: underline;
  color: white;
  text-underline-offset: 6px;
  text-transform: initial;
  font: normal normal bold 18px/28px Open Sans;
  display: inherit;
  align-items: center;
  margin: 0 auto;
  transition: color 250ms;
  &:hover {
    color: #002a57;
  }
}

.jobs .ce_form.block {
  margin-bottom: 50px;
}

.motivations {
  margin-bottom: 100px;
}

#main .ce_image.main-new {
  margin: 30px auto 60px;
  width: 90%;
  max-width: 1200px;
}

.mod_newsreader .layout_full .ce_text{
  img {
    max-width: 100%;
    height: auto;
  }
}

#main .submenu_showroom {
  margin-bottom: 50px;
  width: 90%;
}

@media screen and (max-width: 1025px) {
  .teaser-text {
    transform: translateY(-70%);
    & > div {
      padding: 10px 10px;
      width: 317px;
      border: 8px solid;
      h2 {
        font-size: 20px
      }
      p {
        font-size: 15px;
      }
    }
  }
  .teaser-text-new {
    transform: translateY(-100%);
    .contain-teaser-new {
      padding: 30px 3px;
      h2 a {
        font-size: 20px;
        padding: 18px 20px;
      }
    }
  }
  .box.hell, .box.blue, .box.blue-dark {
    width: 100%;
  }
  .box.hell img {
    height: 60vh;
  }
  .box.blue, .box.blue-dark {
    h2 {
      font-size: 25px;
      text-align: center;
    }
    .ce_text p a {
      margin: 30px auto;
      font-size: 25px;
      .text {
        margin-left: 15px;
      }
      .arrow-right, .arrow-right-dark {
        width: 60px;
        height: 60px;
        img {
          width: 40px;
        }
      }
    }
  }
  .box.hell .caption {
    font-size: 27px;
    top: 50%;
    text-shadow: 2px 2px 11px rgb(0, 45, 92);
    text-align: center;
    right: 50%;
    transform: translateX(50%);
  }

  .box.blue .border, .box.blue-dark .border, {
    margin: 90px auto 0;
    width: 90%;
  }

  .box.blue .border-bottom, .box.blue-dark .border-bottom {
    margin: 2% 90px 34px;
    width: 90%;
  }

  .benefits-container {
    margin: 15px auto;
  }
  .benefits-link .box {
    width: 155px;
    padding: 0 2px;
    cursor: default;
  }

  .training-box .teaser-blue {
    width: 100%;
    p {
      font-size: 25px;
      a {
        height: 150px;
        position: relative;
        &:before {
          position: absolute;
          content: "";
          left: 40px;
          top: 60px;
          width: 35px;
          height: 35px;
          background: url("/files/layout/arrow-pfeil-white.svg") no-repeat;
        }
      }
    }
  }

  .sticky-box {
    display: none;
  }
  #main .main {
   p, ul, h2, h3 {
     width: 90%;
   }
  }

  #main .ce_image.main-new {
    margin: 30px auto;
   img {
     width: 100%;
     height: auto;
   }
  }
  #main .ce_image.main.block img {
    height: auto;
    margin: 0 auto;
  }
  #main .right, #main .left {
    width: 90%;
    margin: 0 auto;
    float: none;
  }

  #main .jobs .button_container .ce_text {
    p,h2,.adresse {
      text-align: center;
    }
  }

  #main .mod_article .ce_text p a {
    font-size: 16px;
    padding: 0;
  }
}


