#wrapper #container{
  max-width: 100%;
}

#main .banner-image {
  position: relative;
  z-index: 1;
  .header-image {
    width: 100%;
    max-width: initial;
    img {
      width: 100%;
      height: 75vh;
      object-fit: cover;
      object-position: top;
    }
  }
}

.sticky-box .ce_text {
  z-index: 3;
  position: absolute;
  right: -450px;
  top: 50%;
  transform: translateY(-50%);
  width: 491px;
  transition: right 250ms;
  /*&:hover {
    right: -140px;
  }*/
}

.sticky-box .ce_text {
   transition: margin-right 250ms;
   cursor: pointer;
  .sticky-icon {
    transition: .4s ease-in-out .2s;
    position: relative;
    left: 2px;
    top: 82px;
    float: left;
    background-color: #022F59;
    width: 50px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 6px #00000029;
    img {
      width: 50%;
      margin-top: 1px;
      cursor: pointer;
    }
  }
  &:hover {
    margin-right: 318px;
  }
}


.sticky-box .ce_text table {
  border: 30px solid #009EE3;
  transition: 0.4s ease-in-out 0.2s;
  color: #00781a;
  border-collapse: collapse;
  background-color: #009EE3;
  box-shadow: 0 3px 10px #00000029;
  tr {
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF80;
    td {
      vertical-align: middle;
      font: normal normal 600 18px/24px Open Sans;
      color: #D1F1FF;
      text-transform: uppercase;
      a {
        font: normal normal 600 18px/24px Open Sans;
        text-decoration: none;
        color: #D1F1FF;
      }
    }
  }
}

.teaser-text {
  text-align: center;
  position: relative;
  z-index: 3;
  transform: translateY(-50%);
  .contain-teaser, .contain-teaser-new {
    text-align: center;
    background-color: #009EE3;
    padding: 42px 85px;
    display: inline-block;
    border: 15px solid white;
    color: #FFFFFF;
    border-radius: 10px;
    h2 {
      text-transform: uppercase;
      font: normal normal normal 30px/27px Open Sans;
      margin-bottom: 0;
      margin-top: 0;
      a {
        text-decoration: none;
        color: white;
      }
    }
    p {
      font: normal normal normal 18px/27px Open Sans;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }
}

.teaser-text .contain-teaser-new {
  padding: 55px 85px;
}

.box-container {
  position: relative;
  z-index: 2;
  margin-top: -180px;
  border-top: 5px solid white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box.hell, .box.blue, .box.blue-dark {
  float: left;
  overflow: hidden;
  width: 50%;
  text-align: left;
  position: relative;
}

.box.blue {
  background: #009EE3;
}

.box.blue, .box.blue-dark {
  .ce_text {
    margin: 5% 8%;
    color: #FFFFFF;
    h2 {
      text-transform: uppercase;
      /*margin-bottom: 100px;*/
      font: normal normal bold 30px/36px Open Sans;
    }
    p {
      font: normal normal normal 18px/24px Open Sans;
      /*margin-bottom: 100px;*/
      a {
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        font: normal normal bold 40px/24px Open Sans;
        display: flex;
        align-items: center;
        margin: 70px auto;
        .arrow-right, .arrow-right-dark {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #009EE3;
          transition: box-shadow 250ms;
          img {
            width: 65px;
            transition: filter 250ms;
            /*&:hover {
              filter: saturate(0) invert(1)
            }*/
          }
        }

        .arrow-right {
          box-shadow: inset 0 0 0 #00c1ff, 7px 7px 14px #007bb1, -7px -7px 14px #00c1ff;
         /* &:hover {
            box-shadow: inset -2px 3px 6px #0000004A;
          }*/
        }
        .arrow-right-dark {
          background-color: #052547;
          box-shadow: inset 0 0 0 #003770, 7px 7px 14px #002348, -7px -7px 14px #003770;
          /*&:hover {
            box-shadow: inset -2px 3px 6px #0000004A;
          }*/
        }
        .text {
          margin-left: 30px;
          transition: color 250ms ;
        }
      }
    }
  }
  h2 {
    font: normal normal bold 30px/36px Open Sans;
    text-transform: uppercase;
    color: white;
    margin: 35px 8%;
  }
}

.box.blue-dark {
  background: #002D5C;
}

.box.hell {
  margin-bottom: -2px;
   color: white;
  transition: color 250ms;
  img{
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  .caption {
    position: absolute;
    top: 30%;
    text-align: left;
    font: normal normal bold 60px/24px Open Sans;
    text-transform: uppercase;
    right: 38px;
  }
  &:hover {
    color: #002D5C;
  }
}

.box.blue .border, .box.blue .border-bottom,
.box.blue-dark .border, .box.blue-dark .border-bottom {
  border-top: 6px solid white;
  margin: 20% 8% 0;
  width: 55%;
}

.box.blue .border-bottom, .box.blue-dark .border-bottom {
  margin: 2% 8% 0;
}



.box.blue .ce_text {
  a {
    &:hover {
     .arrow-right {
       box-shadow: inset -2px 3px 6px #0000004A;
     }
      img {
        filter: saturate(0) invert(1);
      }
      .text {
        color: #022F59;
      }
    }
  }
}

.box.blue-dark .ce_text {
  a {
    &:hover {
      .arrow-right {
        box-shadow: inset -2px 3px 6px #0000004A;
      }
      img {
        filter: saturate(0) invert(1);
      }
      .text {
        color: #52D2F6;
      }
    }
  }
}

#progress {
  width: 70px;
  height: 70px;
  background-color: #002D5C;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  right: 98px;
  bottom: 14px;
  align-content: center;
  z-index: 5;
}

.progressbar {
  bottom: 20px;
  right: 103px;
  height: 60px;
  width: 60px;
  display: flex;
  cursor: pointer;
  position: fixed;
  align-content: center;
  align-items: center;
  /*z-index: 5;*/
  border-radius: 50%;
}
#progress-value {
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: white;
  font-weight: bold;
  background-color: #002d5c;
  right: -3px;
  position: relative;
}

.benefits {
  width: 90%;
  max-width: 1200px;
  margin: 66px auto;
  h2 {
    font: normal normal bold 40px/36px Open Sans;
    color: #002D5C;
    text-transform: uppercase;
    border-bottom: 3px solid #009EE3;
    padding-bottom: 30px;
    text-align: center;
  }
}

.benefits-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto;
  .benefits-box {
    width: 16%;
    background: #009EE3;
    margin: 5px 0;
    a {
      text-decoration: none;
      img {
        width: 50px;
        height: 100px;
        display: flex;
        margin: 0 auto;
      }
      .caption {
        height: 60px;
        display: flex;
        justify-content: space-around;
        /*align-items: center;*/
        text-transform: uppercase;
        color: white;
        text-align: center;
        font: normal normal normal 13px/14px Open Sans;
      }
    }
  }
}

.ce_rsce_my_box {
  width: 16%;
  margin: 5px 0;
  .box-image {
    a {
      text-decoration: none;
      img {
        width: 50px;
        height: 100px;
        display: flex;
        margin: 0 auto;
      }
      h3 {
        text-transform: uppercase;
        color: white;
        text-align: center;
        font: normal normal normal 13px/14px Open Sans;
      }
    }
  }
}

.ce_rsce_my_box .box {
  transition: transform 1.50s;
  transform-style: preserve-3d;
  .box-image, .description {
    height: 175px;
    transform: translateZ(100px);
  }
  .box-image {
    transform: translateZ(100px);
    background: #009EE3;
  }
  .description {
    /*transform: rotateX(-90deg) translateZ(-100px);*/
    background-color: #002D5C;
    color: white;
    text-align: center;
    transform: rotate3d(0, 1, 0, 90deg) translateY(-175px) translateZ(95px) translateX(-4px);
    position: absolute;
     h3 {
       text-transform: uppercase;
       font: normal normal normal 13px/14px Open Sans;
       padding: 20px 0;
    }
    p {
      font: normal normal normal 13px/14px Open Sans;
    }
  }
  &:hover {
    transform: rotate3d(0,1,0,-90deg)
  }
}

.training-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transform: translateY(-2px);
  .teaser-blue {
    float: left;
    overflow: hidden;
    width: 50%;
    position: relative;
    &.dark {
      background-color: #00305dd6;;
    }
    &.hell {
      background-color: #00c1ff;
    }
    p {
      text-align: center;
      font: normal normal bold 60px/24px Open Sans;
      margin-bottom: 0;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms, color 250ms ;

        &:hover {
         color: #001F3F;
          background-color: #ffffffd9;
        }
      }
    }
  }
}

.training {
  .fullscreen-image {
    img {
      height: 75vh;
      width: 100%;
      object-fit: cover;
    }
  }
}

.training-teaser {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  h2 {
    font: normal normal bold 40px/36px Open Sans;
    color: #002D5C;
    text-transform: uppercase;
    border-bottom: 3px solid #009EE3;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    font: normal normal lighter 18px/20px Open Sans;
    line-height: 1.6em;
    color: rgb(0,48,93);
  }
}

@media screen and (max-width: 1025px) {
  .teaser-text {
    transform: translateY(-100%);
    .contain-teaser, .contain-teaser-new {
      padding: 15px 30px;
      h2 {
        font-size: 25px
      }
      p {
        font-size: 15px;
      }
    }
    .contain-teaser-new {
      padding: 30px 30px;
    }
  }
  .box.hell, .box.blue, .box.blue-dark {
    width: 100%;
  }
  .box.hell img {
    height: 70vh;
  }
  .box.blue, .box.blue-dark {
    h2 {
      font-size: 25px;
      text-align: center;
    }
    .ce_text p a {
      margin: 30px auto;
      font-size: 25px;
      .text {
        margin-left: 15px;
      }
      .arrow-right, .arrow-right-dark {
        width: 60px;
        height: 60px;
        img {
          width: 40px;
        }
      }
    }
  }
  .box.hell .caption {
    font-size: 33px;
    top: 50%;
  }

  .benefits-container {
    margin: 15px auto;
  }
  .ce_rsce_my_box {
    width: 48%;
  }
}


