.mobile_menu {
  .inner {
    background: linear-gradient(0deg, rgba(0,158,227,1) 0%, rgba(0,45,92,1) 100%);
    .header .header-bottom {
      transform: translateY(0%);
      margin-top: 75px;
      max-width: 1045px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.inner .header .header-bottom .header-logo img {
  margin-right: 0;
}

.header .header-bottom .header-bottom-right {
  width: 84%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-bottom {
  .menu-close {
   background-color: white;
    transition: opacity 250ms;
    img {
      transition: transform 250ms;
      &:hover {
        transform: scale(1.4);
      }
    }
  }
}

.menu-list-desktop {
  margin: 50px auto;
  width: 90%;
  max-width: 1200px;
  .menu-top {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 100px;
    flex-wrap: wrap;
    max-width: 1045px;
  }
}

.navigation-left, .navigation-middle,
.navigation-right {
  width: 30%;
  h2 {
    font: normal normal bold 27px/36px Open Sans;
    color: white;
    text-transform: uppercase;
    border-bottom: 4px solid white;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-left: -15px;
  }
  .invisible {
    display: none;
  }
  ul {
    font: normal normal normal 20px/24px Open Sans;
    li {
      text-transform: uppercase;
      margin: 10px auto;
      a {
        color: white;
        text-decoration: none;
        outline: none;
        position: relative;
        margin-left: 0;
        transition: color 250ms;
        &:before {
          color: #009EE3;
          font-weight: 400;
          content: "»";
          position: absolute;
          margin-left: -18px;
          font-size: 22px;
          margin-top: -1px;
        }
        &:hover {
          color: #009EE3;
        }
      }
      strong {
        color: white;
      }
    }
  }
}

.menu-bottom {
  max-width: 1080px;
  margin: 0 auto;
  .footer-social-icons {
    display: flex;
    justify-content: center;
    border-top: 4px solid white;
    padding-top: 30px;
    .icon, .icon1 {
      width: 80px;
      text-align: center;
      a {
        transition: opacity 250ms;
        &:hover {
          opacity: 0.5;
        }
        img {
          width: 40px;
        }
      }
    }
  }
}

.menu-bottom .footer-social-icons .icon1 a {
  img {
    width: 30px;
  }
}

.inner .header .header-bottom .mod_form {
  position: relative;
  #form-search {
    margin-bottom: 0;
    .search_input {
      input {
        border-radius: 50px;
        border: 0;
        background-color: #ffffffd1;
        color: #002d5d;
        outline: 0;
        width: 150px;
        font-size: 16px;
        padding: 6px 10px;
        text-transform: uppercase;
      }
    }
    .widget-submit.search {
      input {
        position: absolute;
        right: 15px;
        top: 5px;
        width: 24px;
      }
    }
  }
}

.mod_navigation-mobile {
  display: none;
}

@media screen and (max-width: 1025px) {
  .menu-list-desktop {
    display: none;
  }
 .mod_navigation-mobile  {
    display: block;
  }
  .mobile_menu .inner .header .header-bottom {
    margin-top: 25px;
    display: block;
    text-align: center;
    .header-bottom-right {
      width: 100%;
      transform: translateY(-65px);
    }
    .mod_form {
      transform: translateY(175px);
      #form-search {
        .search_input {
          margin-left: -30px;
          input {
            width: 190px;
          }
        }
        .widget-submit.search {
          input {
            right: 110px;
          }
        }
      }
    }
  }
  .burger_menu, .menu-close {
    width: 60px;
    height: 60px;
    img {
      width: 45px;
    }
  }

  .menu-list {
    margin: 20px auto;
  }
  .navigation-left, .navigation-middle,
  .navigation-right {
    width: 100%;
  }

  .mod_navigation-mobile {
    width: 90%;
    margin: 0 auto;
    .menu-bottom {
      margin: 50px auto;
    }
  }
}

